.container {
    padding: 10px;
    justify-content: center;
    background-color:  rgb(248, 234, 239);
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Espacio entre las tarjetas */
    box-sizing: border-box;
}

h1 {
    text-align: left;
}

.contenido {
    width: 200px;
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    margin: 130px;
    margin-left: 80px;

}

p {
    padding: 5px;
}

img {
    width: 250px;
    height: 200px;
    align-items: center;
}

.card {
    width: 400px;
    height: 400px;
    align-content: center;
  border-radius: 50px;
  
    align-items: center;
}

button {
    text-align: center;
    background-color: rgb(237, 163, 190);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
  
   
}
#titulo{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    padding: 100px;
}