

.navbar {
  height: 90px;
background-color:  rgb(237, 163, 190);
  justify-content: space-between; /* Alinea los elementos a los bordes */
  align-items: center; /* Centra verticalmente */
}

.menu {
  color: black;
  padding: 10px;
  margin-right: auto; /* Mueve el menú a la izquierda */
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  margin: 0 350px; /* Ajusta el margen según sea necesario */
  cursor: pointer;
  margin-left: 0;
  
}



#loguearse {
  margin-left: auto; /* Mueve el botón de loguearse a la derecha */
}

button {
  background-color: rgb(250, 238, 250);
  border-radius: 15px;
}

ul, li {
  list-style: none;
}

/*Animacion de letras*/
p {
  animation-duration: 20s;
  animation-name: slidein;
font-size: 20px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
/* Pantallas pequeñas (celulares) */
@media (max-width: 599px) {
  .navbar {
    padding: 0 10px;
  }

  .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px; /* Reduce el espacio entre el logo y el menú desplegable */
  }

  .menu {
    display: flex;
    align-items: center;
    margin-right: 0; /* Elimina el margen adicional */
  }
  p{
    font-size: 15px;
  }
}