<mat-toolbar id="animacion">
  <p>¡Compra minima de 20.000 pesos!</p>
</mat-toolbar>

<mat-toolbar class="navbar">

  <!-- Menú -->
  <a class="menu" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <mat-icon>menu</mat-icon>
    <li class="dropdown-menu">
      <button mat-menu-item routerLink="/inicio">Inicio</button>
      <button mat-menu-item routerLink="/Contacto">Contacto</button>
      <button mat-menu-item routerLink="/Sobrenosotros">Sobre Nosotros</button>
      <button mat-menu-item routerLink="/Ofertas">Ofertas</button>
      <button mat-menu-item [matMenuTriggerFor]="producto">Productos</button>
      <div id="botones">
        <mat-menu #producto>
          <button mat-menu-item routerLink="/Sombras">Sombras</button>
          <button mat-menu-item routerLink="/Labiales">Labiales</button>
          <button mat-menu-item routerLink="/Perfumeria">Perfumeria</button>
          <button mat-menu-item [matMenuTriggerFor]="Rostro">Rostro</button>
        </mat-menu>
        <mat-menu #Rostro>
          <button mat-menu-item routerLink="Rubores/">Rubores</button>
          <button mat-menu-item routerLink="Bases/">Bases</button>
          <button mat-menu-item routerLink="Corrector/">Correctores</button>
          <button mat-menu-item routerLink="Polvos/">Polvos compactos y sueltos</button>
          <button mat-menu-item routerLink="Contorno/">Contorno</button>
          <button mat-menu-item routerLink="Iluminador/">Iluminador</button>
        </mat-menu>
      </div>
    </li>
  </a>

  <!-- Logo -->
  <img src="../../../../../../../assets/imagenes/logo.jpg" routerLink="/inicio" class="logo">

  <!-- Buscador -->


  <!-- Loguearse -->
  <div id="loguearse">
    <button mat-icon-button [matMenuTriggerFor]="usuario">
      <mat-icon id="icon">person</mat-icon>
    </button>
    <mat-menu #usuario="matMenu">
      <button mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="/registro">Registrarse</button>
      <button mat-menu-item (click)="ingresar()" *ngIf="logueado" routerLink="/inicio-sesion">Iniciar Sesion</button>
      <button mat-menu-item (click)="cerrarSesion()" *ngIf="deslogueado">Cerrar Sesion</button>
    </mat-menu>
  </div>

</mat-toolbar>