<div class="container">
  <div class="row">
      <div class="col">
        <h1>Bases</h1>
          <div *ngFor="let i of info" class="contenido">
              <mat-card class="card">
                  <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>{{i.nombre}}</mat-card-title>
                      <mat-card-subtitle>Tono: {{i.tono}}</mat-card-subtitle>
                      <mat-card-subtitle>{{i.alt}}</mat-card-subtitle>
                  </mat-card-header>

                  <mat-card-content>
                      <img mat-card-image src="{{i.imagen}}">
                      <p>Precio: ${{i.precio}}</p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button (click)="crudService.AgregarAlCarrito(i)" ><mat-icon>shopping_cart</mat-icon></button>
                  </mat-card-actions>
              </mat-card>
          </div>
      </div>
  </div>
</div>
