.container{
  justify-content: center;
  align-items: center;
  padding: 10px;

}
h1{
    margin-top: 20px;
    text-align: center;
}

.img-carrusel{
width: 1400px;
height: 600px;


}
#carrusel{
 
    overflow: hidden;
  
}

.carousel-inner {
    width: 100%;
  }
.contenedor{
    scale: 0,3;
}