<!-- Carrito de compras -->
<div class="carrito-resumen">
    <h1><strong>Carrito de compras </strong></h1> <!-- Título del carrito de compras -->
    
    <mat-table [dataSource]="crudService.coleccionCarrito" class="mat-elevation-z8">
        <!-- Definimos la columna para mostrar el nombre del producto -->
        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell> <!-- Encabezado de la columna -->
            <mat-cell *matCellDef="let item">{{item.nombre}}</mat-cell> <!-- Muestra el nombre del producto -->
        </ng-container>

        <!-- Definimos la columna para mostrar la cantidad del producto -->
        <ng-container matColumnDef="cantidad">
            <mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell> <!-- Encabezado de la columna -->
            <mat-cell *matCellDef="let item">
                <input type="number" [(ngModel)]="item.cantidad" min="1" (ngModelChange)="actSubtotal(item)">
                <!-- Campo de entrada para modificar la cantidad del producto -->
                <!-- Al cambiar la cantidad, se llama a la función actSubtotal para actualizar el subtotal -->
            </mat-cell>
        </ng-container>
        
        <!-- columna para mostrar el precio unitario del producto -->
        <ng-container matColumnDef="preciounidad">
            <mat-header-cell *matHeaderCellDef>Precio Unitario</mat-header-cell> <!-- Encabezado de la columna -->
            <mat-cell *matCellDef="let item"> Ars ${{(item.precio).toFixed(2)}} <!-- Muestra el precio formateado a 2 decimales -->
            </mat-cell>
        </ng-container>

        <!-- columna para eliminar un producto del carrito -->
        <ng-container matColumnDef="eliminar">
            <mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell> <!-- Encabezado de la columna -->
            <mat-cell *matCellDef="let item">
                <button mat-icon-button color="warn" (click)="eliminarItem(item)">   <!-- Accedemos a la funcion de eliminarItem del ts -->
                    <mat-icon>delete</mat-icon> <!-- Botón con ícono de papelera para eliminar el producto -->
                </button>
               
            </mat-cell>
        </ng-container>
        
        <!-- Filas de la tabla -->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> <!-- Encabezado de la tabla -->
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row> <!-- Fila de datos -->
    </mat-table>
    <h1 id="total"> <strong>Total:${{crudService.totalCarrito}}</strong></h1>
    <button id="boton" type="button" class="btn" (click)="realizarCompra()"><b>Continuar Compra</b></button>
</div>
