<div class="container">
    <div class="row">
        <div class="col">
                <div class="parrafo">
                    <p>Mail: divinasmakeupgmail.com </p>
                    <p>Telefono: 287642343</p>
                    <p>Direccion: Bolivia1160</p>
                </div>
                <div class="Mensajes">
                    <p>¡Comentanos tu experiencia!</p>
                    <input  matInput type="text">
                    <br><br>
                    <button class="boton" mat-raised-button color="primary" >Aceptar</button>
                </div>
        </div>
    </div>
</div>
